.square {
    background: url("../ressources/water50icon.png");
}

.rock {
    background: url("../ressources/rock50icon.png");
}

.fly {
    background: url("../ressources/fly50icon.png");
}

.frog {
    background: url("../ressources/frog50icon.png");
}